sphinx==1.8.1
docutils

# Theme

sphinx_rtd_theme

# Extensions

sphinx-jinja        # allow jinja2 template
sphinx-copybutton   # add copy to clipboard button for code block
docfly>=0.0.17      # auto API manual, auto Table of Content
rstobj==0.0.7       # generate list table from data
pandas

# Other

pygments            # live RestructuredText preview
